*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: rgb(12, 15, 28);
    --header-color:rgb(5, 5, 9);
    --hover-color:rgb(255, 85, 0);
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
}

.err{
    padding: 0.5rem;
    background-color: rgba(255, 0, 0, 0.349);
    color: white;
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
}
.succ{
    padding: 0.5rem;
    background-color: rgba(17, 255, 0, 0.264);
    color: white;
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
}

img{
    display: block;
}
.swiper{
    width: 1200px;
}

.swiper-slide a{
   display: inline-block;
}
.swiper-slide a h4{
   text-align: center;
}


.swiper-slide a img{
    max-width: 200px;
}

a{
    color: white;
    text-decoration: none;
}
header{
    width: 100%;
    height: 70px;
    background-color: var(--header-color);
    position: sticky; 
}

header nav{
    height:inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

header nav ul li{
    display: inline;
    padding-left: 1rem;
}

header nav ul li a{
    transition: all 0.4s ease-in-out;
}
.a-link{
    color: var(--hover-color);
}

.logo a{
    font-weight: 700;
    color: var(--hover-color);
    font-size: 1.1rem;
}

/* now playing styling */

.now-playing{
    background: url(../images/showcase-bg.jpg);
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2rem 0;
}

.now-playing h1{
    padding-bottom: 2rem;
}

/* for search styling */

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search .container{
   margin: 4rem 0;
   color: white;
}

.search .container form label{
    margin-right: 2rem;
}

.search .container form .search-flex{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top:1rem ;
    min-width: 500px;
}

.search .container form .search-flex input{
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
}

.search .container form .search-flex .btn{
    background: orange;
    padding: 1rem 2rem;
    margin-left:0.5rem ;
    border: none;
    border-radius: 4px;
}
 
.search .container form .search-flex .btn .fa{
    color: rgb(0, 0, 0);
    margin:  0 0.5rem;
    font-size: 1rem;
}
/* movie grid for home*/
.movies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

movies,.show-movie{
    padding:0rem 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie-grid{
    display: grid;
    grid-template-columns:repeat(5, minmax(200px, 250px));
    grid-auto-rows: minmax(auto,auto);
    gap: 1rem;
}

 .tiles{
    background-color: rgb(37, 50, 99);
    padding: 0.5rem;
    color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.tiles:hover{
    transform: scale(1.02);
    background-color: rgb(22, 26, 55);
}

.tiles img{
    width: 100%;
    margin-bottom: 1rem;
}
.movie-grid .movies .tiles .content{
    padding: 0.4rem;
}

/* for pagination */
.pagination{
    color: white;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pagination p{
    margin-top: 0.5rem;
}

.pagination .pag-contain button{
    border: 1px solid var(--hover-color);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: transparent;
    margin-right: 0.5rem;
    transition: all 0.3s ease-in-out;
}  
.pagination .pag-contain button:hover{
    transform: scale(1.1);
    background-color: var(--hover-color);
}

/* movie detail page */

.details{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    color: white;
}

.bg-image{
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    opacity: 0.1;
    z-index: -1;
    top:0;
    left: 0;
   
}


.details .movie-detail .back-btn1 a{
    display: inline-block;
    border: 1px solid var(--hover-color);
    margin: 4rem 0;
    padding: 1rem;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
}

.details .movie-detail .back-btn1 a:hover{
    background-color: var(--hover-color);
}

/* for the content movie detail page */

.container-detail{
    padding: 0 4rem;
    
}

.container-detail .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60vh;
}
.container-detail .container .image-detail{
    width:100%;
    min-width: 200px;
    max-width: 500px;
}
.container-detail .container .image-detail {
    margin-right: 2rem;
}

.container-detail .container .container-wrap h2{
    text-align: center;
}
.container-detail .container .container-wrap ul li{
    list-style: none;
}

.container-detail .container .container-wrap .wrap p{
    margin: 1rem 0;
}

.container-detail .container .container-wrap .wrap .shape-icon i{
    margin: 0;
    margin-right: 0.25rem;
    color: var(--hover-color);
}

.container-detail .container .container-wrap .wrap .info{
    min-width: 300px;
    max-width: 550px;
}



.back-btn a{
    display: inline-block;
    margin: 2rem 4rem;
    padding: 1rem 2rem;
    border: 1px solid var(--hover-color);
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
}

.back-btn a:hover{
    background-color: var(--hover-color);
}

.movie-info{
    margin-top: 2rem;
}

.movie-info h2{
    text-align: center;
}
.movie-info ul li{
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.462);
    list-style: none;
}
.movie-info ul li span{
    color: var(--hover-color);
    margin-right: 0.25rem;
}

.movie-info .production{
    margin-top: 1rem;
}


/* footer section */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    margin: 2rem 0;
}

footer p a{
    font-weight: 700;
    color: var(--hover-color);
    font-size: 1.1rem;
    transition: all 0.4s ease-in-out;
}

footer p a:hover{
    font-weight: 700;
    color:rgb(194, 66, 3);
    font-size: 1.1rem;
}

footer{
    height: 4rem;
}

footer .fa{
    color: white;
    margin:  0 0.5rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}
footer .fa:hover{
    font-size: 1.7rem;
    color: var(--hover-color);
}

.footer-icon{
    margin-left: 3rem;
}

.star{
    color: var(--hover-color);
}

/* spinner */

.spinner{
    position: Fixed;
    top: 0;
    z-index: 999;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.773);
    scroll-behavior: smooth;
}


body .spinner i{
    position: fixed;
}

body .spinner .fa{
    color: rgba(255, 255, 255, 0.618);
    font-size: 2rem;
    background-clip: linear-gradient(90deg, white,rgba(255, 255, 255, 0.441));
}
.show{
    display:none;
}

/* tv shows */

.show-movie h1{
    color: white;
    text-align: center;
    margin: 2rem 0;
}

.movies h2{
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
}
/* media query */

@media (min-width:1101px) and (max-width:1300px) {
    
}
@media (min-width:999px) and (max-width: 1100px) {
    header nav{
        padding: 0 2rem;
    }

    .swiper{
        width: 1100px;
    }

    .movies{
        width: 100%;
        padding: 0 1.5rem;
    }
    .movie-grid{
        display: grid;
        grid-template-columns:repeat(5, minmax(180px, 250px));
        grid-auto-rows: minmax(auto,auto);
        gap: 1rem;
    }
    .search .container form .search-flex{
        display: flex;
        align-items: center;
        margin-top:1rem ;
        min-width:500px;
    }

    footer{
        padding: 2rem 2rem;
    }
}

@media (min-width:801px) and (max-width: 999px) {

    .swiper{
        width:600px;
    }

    .movies{
        padding: 0 2rem;
    }
    .movie-grid{
        display: grid;
        grid-template-columns:repeat(4, minmax(180px, 250px));
      
        grid-auto-rows: minmax(auto,auto);
        gap: 1rem;
    }
    .search .container form .search-flex{
        display: flex;
        align-items: center;
        margin-top:1rem ;
        min-width:500px;
    }
}
@media (min-width:601px) and (max-width: 800px) {
   
    .movie-grid{
        display: grid;
        grid-template-columns:repeat(3, minmax(180px, 250px));
        grid-auto-rows: minmax(auto,auto);
        gap: 1rem;
        padding: 0 1rem;
    }

    .swiper{
        width: 500px;
    }
    .search .container form .search-flex{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top:1rem ;
        min-width: 350px;
    }
    .container-detail .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
}


@media (min-width:400px) and (max-width: 600px) {
    .movie-grid{
        padding: 0 1rem;
    }
    .movie-grid{
        display: grid;
        grid-template-columns:repeat(2, minmax(180px, 250px));
        grid-auto-rows: minmax(auto,auto);
        gap: 1rem;
    }

    .swiper{
        width: 200px;
    }

    .search .container form .search-flex{
        display: flex;
        align-items: center;
        margin-top:1rem ;
        min-width: 350px;
    }

    header nav{
        padding: 0 2rem;
    }
    .container-detail .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container-detail .container-wrap{
        margin-top: 2rem;
    }
   
}
@media (min-width:351px) and (max-width: 400px) {
    .movie-grid{
        padding: 0 0.5rem;
    }
    .movie-grid{
        display: grid;
        grid-template-columns:repeat(2, minmax(150px, 250px));
        grid-auto-rows: minmax(auto,auto);
        gap: 1rem;
    }

    .search .container form .search-flex{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top:1rem ;
        min-width: 250px;
    }

    .swiper{
        width: 200px;
    }

    header nav{
        padding: 0 2rem;
    }
    .container-detail .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container-detail .container-wrap{
        margin-top: 2rem;
    }
}
@media (min-width:180px) and (max-width: 350px) {
    .movie-grid{
        padding: 0 0.5rem;
    }
    .movie-grid{
        display: grid;
        grid-template-columns:repeat(1, minmax(200px, 250px));
        grid-auto-rows: minmax(auto,auto);
        gap: 1rem;
    }

    .search .container form .search-flex{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top:1rem ;
        min-width: 250px;
    }

    .swiper{
        width: 180px;
    }

    header nav{
        padding: 0 1rem;
    }
    .container-detail .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container-detail .container-wrap{
        margin-top: 2rem;
    }

    .search .container form .search-flex{
        display: flex;
        align-items: center;
        margin-top:1rem ;
        min-width:200px;
    }
}

/* tv shows page style */